@import url("https://fonts.googleapis.com/css?family=Oldenburg");
html,
body,
h1,
h2,
p,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    color: #616161;
    background: #f4f5f9;
}

input,
textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

img {
    border: 0;
    max-width: 100%;
}

h1 {
    font-family: "Oldenburg", Arial, sans-serif;
    color: #646464;
    font-size: 2em;
    margin-right: 16px;
    line-height: 1.6em;
    text-align: center;
}

.heading {
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 4px;
    margin-top: 15px;
    text-align: center;
    color: black;
    margin-left: -31px;
}

.error h3 {
    font-size: 20px;
    color: #888;
}

p {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 12px;
}

button {
    background: #ccc;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #cccccc;
}

a {
    color: #00387b;
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    color: #6e91b9;
}

.issue-title a {
    color: #00387b;
    font-size: 20px;
    text-decoration: none;
}

.issue_number {
    font-size: 18px;
    text-align: center;
    margin-bottom: 28px;
}

.user-avtar {
    text-align: center
}

.user-avtar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* page structure */

.reader {
    display: block;
    width: 100%;
    height: 100%;
    max-height: auto;
    margin: 0 auto;
    padding-top: 100px;
}

.searchbar {
    display: block;
    left: 51%;
    width: 400px;
    position: absolute;
    margin-left: -200px;
    margin-top: 12px;
}

.search-icon {
    position: absolute;
    width: 18px;
    height: 26px;
    margin-top: 0px;
    background-color: #fff;
    color: #fff;
    margin-left: -54px;
}

#gitapidata {
    display: block;
    padding: 25px 0;
}

/* input field */

#gitusername {
    display: inline-block;
    padding: 5px 8px;
    font-size: 1.5em;
    color: #666;
    width: 300px;
    border: 2px solid #eaeaea;
    border-radius: 8px;
}

.pagination {
    padding: 5px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-top: 6px;
    cursor: pointer;
    background-color: #f4f5f9;
    border-radius: 8px;
    border: 5px solid #ddd;
}

.pagination:hover {
    color: #696969;
    background: #fff;
}

#gitsubmitbtn {
    display: inline-block;
    padding: 8px 18px;
    background-color: #eaeaea;
    background-image: -moz-linear-gradient(#fafafa, #eaeaea);
    background-image: -ms-linear-gradient(top, #fafafa, #eaeaea);
    background-image: -o-linear-gradient(top, #fafafa, #eaeaea);
    border-radius: 5px;
    cursor: pointer;
}

#gitsubmitbtn:hover {
    background-color: #dadada;
}

#gitsubmitbtn:active {
    background-color: #dadada;
    background-image: none;
    border-color: #b5b5b5;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}

.issue-top {
    margin-bottom: 25px;
    min-height: 90px;
    border-bottom: 2px solid #f4f5f9;
}

.left {
    float: left;
    margin-top: 0px;
    flex-direction: column;
    display: flex;
    width: auto;
    margin: 0;
}

.right {
    display: block;
    margin-top: 0px;
    margin-left: 75px;
}

.issue-summary {
    display: flex;
}

.num {
    position: relative;
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    padding: 4px 5px 0 5px;
    height: 19px;
    display: inline-block;
    min-width: 20px;
}

.num::after {
    border: 6px solid #000;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -6px;
    right: -3px;
    content: "";
}

.issue-title {
    display: flex;
}

.issue-summary {
    margin-top: 30px;
    display: block;
}

.issue-label button {
    background: #ccc;
    float: left;
    border-radius: 10px;
    margin-right: 14px;
    font-size: 15px;
    border: 1px solid #cccccc;
}

.comments {
    display: block;
    font-size: 25px;
    font-family: "sans-serif";
    line-height: 1.3;
    margin: 30px;
}

.issue-card {
    width: 1000px;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    margin-bottom: 200px;
    margin-top: 100px;
}

.issues-list {
    margin: 20px 20px 20px 0px;
    text-align: left;
    text-decoration: none;
    border: 6.2px solid #f4f5f9;
    display: block;
    background: #fff;
    min-height: 70px;
    border-radius: 13px;
    padding: 22px;
    overflow: auto;
}

}

a.active {
    color: red !important;
}

.active {
    color: red !important;
}

.user-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.user-details img {
    height: 30px;
    border-radius: 50%;
    width: 30px;
}

.userlinks {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    margin-top: 6px;
}

.mdcomments a {
    font-size: 23px;
    margin: 0;
    word-wrap: break-word;
    line-height: 0;
}

.mdcomments li {
    font-size: 20px;
    line-height: 1.35em;
    margin-bottom: 12px;
}

li {
    font-size: 15px;
    padding-bottom: 10px;
}

.info {
    padding: 20px 15px 0px 0px;
    border-top: 2px solid #f4f5f9;
}

.mdcomments p {
    color: #0e0202;
}

.info h2 {
    text-align: left;
}

.add_comment {
    display: block;
    background: #f4f5f9;
    padding: 10px;
    margin-left: 36%;
    margin-top: 50px;
    margin-bottom: 11px;
    width: 192px;
    text-align: center;
    color: red;
    border-radius: 6px;
}

.add_comment:hover {
    opacity: 0.8;
}

.add_comment a {
    font-size: 1.2rem;
    color: #858080;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

button {
    background: #ccc;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #cccccc;
}

/* markdown styling */

code {
    background: #f4f5f9;
    display: block;
    font-size: 1rem;
    padding: 20px;
    overflow: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
}

blockquote p {
    background: #f4f5f9;
    display: block;
    padding: 20px;
    font-size: 1rem;
}