<div class="about">
    <p>
        <b> What does this do?</b>
    </p>
    <p>
        It's hard being a maintainer/active contributor of an open source project 😭. You have to keep an eye on all the bug reports
        and pull requests and provide your review on the same. I have reliazed that I have been wasting so much of my time
        in browsing all the issues/PRs lately. The current flow involves going on an issue page and open all the issues in
        new tab in order to see the issue details etc.

        <br> To make this process a little bit easier, I have built this small tool. Here you don't need to open the issues in
        a new tab. In a single page you can browse all the issues/PRs and comment on the same. This saves a lot of time +
        RAM also 😛.
    </p>

    <p>
        <b>How do I comment on issue?</b>
    </p>

    <p>
        This will be supported once I implement the GitHub oAuth.

    </p>

    <p>
        <b>
            I can't see my repo?
        </b>
    </p>

    <p> GitHub has an api limit so once you hit it, issues won't be able to load. This will be improved after GitHub oAuth (also
        you'll be able to browse private repo).</p>

    <p>
        <b>
            I want to improve this project?
        </b>
    </p>
    <p>
        Please do ❤️. The project is built on top of Angularjs and hardly contains 100s loc in js.
    </p>
</div>