<footer>
    <div class="container">
        <nav class="footer-links">
            <li>
                <a href="/#about">about</a>
            </li>
            <li>
                <a href="https://github.com/akashnimare/git-issues/issues" target="_blank">send feedback</a>
            </li>
            <li>
                <a href="https://github.com/akashnimare/git-issues" target="_blank">source</a>
            </li>
        </nav>
        <p>
            <b>Like this project? </b>Support it by sending a
                <a href="http://twitter.com/share?text= A better way to browse GitHub issues!&amp;url=https://git-issues.now.sh/&amp;hashtags=github, gitreader&amp;via=meakaakka"
                    title="Share Git Reader on Twitter" target="_blank"> tweet
                    <img src="https://image.flaticon.com/icons/svg/174/174876.svg" width="17px">
                </a>
                <br>
            Made by
            <a href="https://twitter.com/meakaakka">@akashnimare</a>
            <br>
            <!-- This project is not affiliated with the GitHub company in any way. -->
        </p>
    </div>
</footer>